@import url(https://fonts.googleapis.com/css?family=Pacifico);
body {
  text-align: center;
}

p {
  font-family: cursive;
  font-size: 1em;
}

h3 {
  font-family: cursive;
}

#page_title {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  font-family: 'Pacifico';
}

#youtube_pic {
  height: 5em;
  width: 10em;
  border-radius: 5px;
  padding: 1em;
}
#youtube_pic:hover {
  background-color: #05faff;
}
